@import url(reset.css);
@import url(header.css);
@import url(sessoes.css);
@import url(contatos.css);

body {
    background-color:#eee8aa;
    font-family: "poppins";
}

p {
    margin: 1em;
}

input {
    padding: 0.5em;
}